.globalContainer {
    width: 100%;
    position: relative;
    // margin-top: 200px;
    // margin: 100px auto;

    h1 {
        text-align: center;
        font-family: var(--title);
        font-size: 2rem;
        margin-top: 150px;
    }

    animation-duration: 0.4s;
    animation-name: appear;
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// RABIIT

.rabbit_container {
    position: absolute;
    left: 0px;
    top: 450px;
    // border: 1px solid red;
    width: 100%;
    height: auto;
}

.rabbit_card {
    position: relative;
    overflow: hidden;
}

.rabbit_img {
    transform: translateX(200px);
    animation: mooving 7s ease-in-out infinite;
    animation-fill-mode: both;
    animation-delay: 6s;
    
}
@keyframes mooving {
    0% {
        opacity: 1;
        transform: translateX(100%);
    }

    90% {      
        opacity: 1; 
       
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
        // animation-play-state: paused;
    }
}

// ****** WALLPAPER

.wallpaper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0.35;
}

.rightPart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    border: none;
    margin: 15px 0;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transition: all .4s ease;
    // box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.51);
}

.formName,
.formMail,
.formMessage {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: var(--black);

    input,
    textarea {
        width: 80%;
        margin: auto;
        padding: 10px;
        font-family: var(--text);
        transition: all 0.4s ease;
    }
    input {
        height: 40px;
        outline: none;
        border: 1px solid var(--black);
        border-radius: 5px;
        padding: 10px;
    }
    input:focus,
    textarea:focus {
        border: 2px solid var(--bleu-clair);
    }

    textarea {
        height: 100px;
        border-radius: 5px;
        outline: none;
    }
}

.btnSubmit {
    margin: 15px 0;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: var(--bleu-clair);
    color: var(--gris-clair);
    font-family: var(--text);
    font-size: 15px;
    padding: 10px;
    transition: all 0.4s ease;
}
.btnSubmit:hover {
    box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
    background-color: var(--bleu);
}

.span {
    color: orangered;
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 480px) {

// }

@media screen and (max-width: 480px) {
    .form {
        width: 400px;
    }
}
