.globalContainer {
    width: 100%;
    height: auto;
    margin-top: 200px;

    background-color: var(--gris-clair);
    animation-duration: 0.3s;
    animation-name: appear;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

// LEFT PART

.mainLeftPart {
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
}

// RIGHT PART

.mainRightPart {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    color: var(--black);

    h2 {
        font-family: var(--title);
        font-size: 3rem;
        margin: 0;
        text-align: start;
    }
    h3 {
        font-family: var(--title);
        font-size: 1.5rem;
        margin: 30px 0;
        text-align: start;
    }
    p {
        font-family: var(--text);
        font-size: 1rem;
        line-height: 20px;
        text-align: start;
    }
}
.liens {
    margin-top: 60px;
}

.liens a {
    margin: 0 20px;
    border-radius: 15px;
    background-color: var(--bleu-clair);
    color: var(--gris-clair);
    font-family: var(--text);
    font-size: 20px;
    padding: 20px 25px;

    transition: all 0.4s ease;
}
.liens a:hover {
    box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
    background-color: var(--bleu);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .mainLeftPart {
        width: 350px;
    }
    .mainRightPart {
        align-items: center;

        h2{
            margin-top: 20px;
        }
    }

    .mainContainer {
        flex-direction: column;
        padding: 0px;
    }
}
@media screen and (max-width: 480px) {
    .mainRightPart {
        align-items: center;
        text-align: center;
        width: 380px;

        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 480px) {

// }
