.globalContainer {
  position: relative;
  width: 100%;
  max-width: 2400px;
  margin: auto;
  background-color: transparent;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: appear;
          animation-name: appear;
}

.mainContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 700px;
}

.wallpaper {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 1100px;
  margin: auto;
  top: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 0.35;
}

.rabbit_container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.rabbit {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 652px;
  stroke-dasharray: 4757;
  stroke-dashoffset: 4757;
  stroke-width: 3px;
  stroke: var(--black);
  -webkit-animation: draw 15s ease-in-out;
          animation: draw 15s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.mainLeftPart {
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.mainRightPart {
  width: 450px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--black);
}

.mainRightPart h2 {
  font-family: var(--title);
  font-size: 3rem;
  margin: 0;
  text-align: start;
}

.mainRightPart h1 {
  font-family: var(--title);
  font-size: 1.5rem;
  margin: 30px 0;
  text-align: start;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

.mainRightPart p {
  font-family: var(--text);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
  text-align: start;
  -webkit-animation: fadein 5s;
          animation: fadein 5s;
}

.title1 {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.title2 {
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}

.contact {
  width: 100%;
  text-align: center;
}

.contact button {
  font-family: var(--title);
  font-size: 2rem;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  color: var(--black);
  padding: 15px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
  background-color: var(--rose);
  -webkit-box-shadow: 0 0 0 0 #ea80fc;
          box-shadow: 0 0 0 0 #ea80fc;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.contact button:hover {
  background-color: var(--rose);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 18px rgba(254, 155, 254, 0.01);
            box-shadow: 0 0 0 18px rgba(254, 155, 254, 0.01);
  }
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 18px rgba(254, 155, 254, 0.01);
            box-shadow: 0 0 0 18px rgba(254, 155, 254, 0.01);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.liens {
  margin-top: 60px;
}

.liens a {
  margin: 0 20px;
  border-radius: 15px;
  background-color: var(--bleu-clair);
  color: var(--gris-clair);
  font-family: var(--text);
  font-size: 20px;
  padding: 20px 25px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.liens a:hover {
  -webkit-box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
  background-color: var(--bleu);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .rabbit {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .mainLeftPart {
    margin-right: 20px;
  }
  .rabbit {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainLeftPart {
    width: 70%;
    padding-top: 270px;
    overflow: visible;
    border-radius: 0;
  }
  .mainRightPart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainRightPart h2 {
    margin-top: 40px;
  }
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .contact {
    padding-top: 170px;
  }
  .contact button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .mainContainer {
    margin: 0 20px;
  }
  .mainLeftPart {
    padding-top: 0px;
    width: 80%;
    padding-top: 200px;
  }
  .mainRightPart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 380px;
  }
  .mainRightPart h2 {
    font-size: 2rem;
  }
  .mainRightPart h1 {
    font-size: 1rem;
    margin: 10px 10px;
  }
  .mainRightPart p {
    font-size: 0.8rem;
    margin: 0 10px;
  }
}
/*# sourceMappingURL=Home.module.css.map */