.globalContainer {
    position: relative;
    width: 100%;
    height: auto;
    // margin-top: 200px;
    background-color: transparent;
    animation-duration: 0.3s;
    animation-name: appear;
}

.mainContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    height: 700px;
}

//  ********** WALLPAPER

.wallpaper {
    position: absolute;
    width: 100%;
    height: 110vh;
    top: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0.35;
}

// LEFT PART

.mainLeftPart {
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    animation: fadein 1s;
}

// RIGHT PART

.mainRightPart {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: 100px;
    color: var(--black);

    h2 {
        font-family: var(--title);
        font-size: 3rem;
        margin: 0;
        text-align: start;
    }
    h3 {
        font-family: var(--title);
        font-size: 1.5rem;
        margin: 30px 0;
        text-align: start;
        animation: fadein 4s;
    }
    p {
        font-family: var(--text);
        font-size: 1rem;
        line-height: 20px;
        font-weight: 600;
        text-align: start;
        animation: fadein 5s;
    }
}

.title1 {
    animation: fadein 2s;
}
.title2 {
    animation: fadein 3s;
}

//  ******** RENDEZ VOUS BUTTON

.contact {
    width: 100%;
    text-align: center;

    button {
        font-family: var(--title);
        font-size: 2rem;
        color: var(--black);
        padding: 15px 25px;
        border: none;
        outline: none;
        border-radius: 5px;
        outline: none;
        transition: all 0.4s ease;
        animation: fadein 6s;
        // background-color: var(--rose);
        background-color: var(--rose);
        box-shadow: 0 0 0 0 #ea80fc;
        animation: pulse 1.5s infinite;
    }

    button:hover {
        background-color: var(--rose);
        transform: scale(1.05);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(254, 155, 254, 0.01);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.liens {
    margin-top: 60px;
}

.liens a {
    margin: 0 20px;
    border-radius: 15px;
    background-color: var(--bleu-clair);
    color: var(--gris-clair);
    font-family: var(--text);
    font-size: 20px;
    padding: 20px 25px;

    transition: all 0.4s ease;
}
.liens a:hover {
    box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
    background-color: var(--bleu);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .mainLeftPart {
        width: 50%;
      border-radius: 0;
        // margin: 50px 0;
        padding-top: 100px;
        overflow: visible;
    }

  

    .mainRightPart {
        align-items: center;

        h2 {
            margin-top: 20px;
        }
    }

    .mainContainer {
        flex-direction: column;
        padding: 10px;
    }

    .contact {

        padding-top: 100px;
        button {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 480px) {



    .mainContainer {
        margin: 0 20px;
    }

    .mainLeftPart {
        padding-top: 0px;
    }

    .mainRightPart {
        align-items: center;
        text-align: center;
        width: 380px;
        

        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
            margin: 10px 10px;
        }
        p {
            font-size: 0.8rem;
            margin: 0 10px;
            
        }
    }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 480px) {

// }
