.container {
    position: relative;
    z-index: 2;
    margin: 80px auto 50px;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: transparent;
}
.left {
    display: flex;
}

// LOGO

.logo {
    margin-right: 2rem;
    width: 100%;
    height: 100%;
}

// TITRE

.containerTitle {
    margin-left: 4rem;
}

.upperTitle {
    font-family: var(--title);
    font-size: 2rem;
    h1 {
        margin-bottom: 0px;
    }
}
.downTitle {
    font-family: var(--standard);

    h2 {
        margin-left: 10px;
        font-size: 2rem;
        margin-top: 0;
    }
    span {
        font-size: 1rem;
        margin-right: 20px;
    }
}
.right {
    display: flex;
}
.lien {
    margin: 0 10px;
    color: var(--black);
    font-size: 16px;
    font-family: var(--standard);
    padding-right: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 5px;
    transition: all 0.6s ease-out;
}

.lien:hover {
    background-color: var(--gris);
    box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
}

// BURGER

.burger {
    display: none;
    position: relative;
    z-index: 14;

    button {
        border: none;
        background-color: var(--gris-clair);
        cursor: pointer;
    }
}
.burgerLine {
    width: 25px;
    height: 8px;
    border-bottom: 3px solid black;
    margin: 2px;
}

.burgerLinks {
    position: fixed;
    // left: -100px;
    z-index: 15;
    left: 0;
    // top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--gris-clair);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    // display: none;    
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    transform: translateY(10px);
    transition: all 0.4s ease;

    a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        cursor: pointer;        
        width: 150px;
        height: 40px;
        transition: all 0.4s ease;
        background-color: var(--gris-clair);
        z-index: 3;
        font-size: 30px;
    }
    a:hover {
        background-color: var(--gris);
    }
}

.burger button:focus + .burgerLinks {
    display: flex;
    transform: translateY(-140px);
    opacity: 1;
    // transform: translateY(0);
}

//    RESPONSIVE

@media screen and (max-width: 1400px) {
    .containerTitle {
        margin-left: 2rem;
    }
    .upperTitle {
        font-size: 1.5rem;
    }
    .downTitle {
        h2 {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    .lien {
        font-size: 13px;
    }
    .logo {
        margin-right: 1rem;
    }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 480px) {

// }

@media screen and (max-width: 1024px) {
    .burger {
        display: block;
    }
    .links {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }
    .links {
        display: none;
    }
    .upperTitle {
        font-size: 1rem;
    }
    .downTitle {
        h2 {
            font-size: 0.75rem;
        }
    }
    .containerTitle {
        margin-left: 1rem;
    }
}
