.globalContainer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
   
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150vh;
    background-color: black;

    opacity: 0.9;
    z-index: 1;
}

.caroussel {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: auto;
    margin: auto;
    z-index: 2;

    p {
        color: var(--gris-clair);

        width: 20%;
        margin: 0 auto 50px;
    }
}
