.globalContainer {
  position: relative;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: appear;
          animation-name: appear;
  max-height: 1600px;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.boy_container {
  position: absolute;
  right: 15%;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cotisation_txt {
  position: relative;
}

.bubble_txt {
  position: relative;
  z-index: 5;
  margin-left: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  font-family: var(--text);
  font-size: 1.5rem;
  color: #fff;
  background-color: #fcc500;
  border-radius: 30px;
  -webkit-animation: floating 4s ease-in-out infinite;
          animation: floating 4s ease-in-out infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.bg_txt {
  position: absolute;
  z-index: 4;
  top: 40px;
  left: 50px;
  width: 150px;
  height: 150px;
  background-color: #ffc80081;
  opacity: .8;
  border-radius: 30px;
  -webkit-animation: floating2 4s ease-in-out infinite;
          animation: floating2 4s ease-in-out infinite;
}

@-webkit-keyframes floating2 {
  0% {
    line-height: 30px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating2 {
  0% {
    line-height: 30px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.container {
  padding: 100px 0;
  width: 100%;
  margin: auto;
}

.cardContainer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cotisation {
  width: 30%;
  color: orangered;
  font-family: var(--text);
  font-size: 1.5rem;
  border: 1px solid orangered;
  border-radius: 5px;
  text-align: center;
  margin: 100px auto 0;
  padding: 10px 10px;
}

.card,
.card2,
.card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 600px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 12px 25px -3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card:hover,
.card2:hover,
.card3:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.card2 {
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
}

.card3 {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title,
.title2,
.title3 {
  width: 100%;
  height: 300px;
  background-color: var(--bleu);
  padding-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h2,
.title h3,
.title span,
.title2 h2,
.title2 h3,
.title2 span,
.title3 h2,
.title3 h3,
.title3 span {
  margin: 0;
  font-family: var(--title);
  color: var(--gris-clair);
}

.title h2,
.title2 h2,
.title3 h2 {
  font-size: 2rem;
}

.title h3,
.title2 h3,
.title3 h3 {
  font-size: 2.5rem;
}

.title2 {
  background-color: var(--orange);
}

.title3 {
  background-color: #28a745;
}

.tarifEtudiant {
  font-size: 1rem;
  color: var(--gris-clair);
}

.body {
  font-family: var(--standard);
  color: var(--black);
  font-weight: 500;
  line-height: 40px;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 15px;
  background-color: var(--gris-clair);
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom,
.bottom2,
.bottom3 {
  height: 100px;
  width: 100%;
  background-color: var(--bleu);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom a,
.bottom2 a,
.bottom3 a {
  font-family: var(--text);
  font-size: 1.5rem;
  color: var(--gris-clair);
}

.bottom2 {
  background-color: var(--orange);
}

.bottom3 {
  background-color: #28a745;
}

.downPage {
  width: 80%;
  margin: auto;
  padding-bottom: 200px;
}

.downPage h3 {
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 15px;
  font-family: var(--standard);
  color: var(--black);
  font-size: 1.2rem;
  text-align: center;
}

.downPage h4 {
  font-family: var(--standard);
  color: var(--black);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .cotisation {
    font-size: 1rem;
  }
  .card,
  .card2,
  .card3 {
    height: 500px;
  }
  .title,
  .title2,
  .title3 {
    padding-top: 30px;
    height: 150px;
  }
  .title h2,
  .title2 h2,
  .title3 h2 {
    font-size: 1.5rem;
  }
  .title h3,
  .title2 h3,
  .title3 h3 {
    font-size: 1.5rem;
  }
  .body {
    font-size: 1rem;
  }
  .boy_container {
    height: 300px;
  }
}
/*# sourceMappingURL=Tarifs.module.css.map */